:root {
    --azul-fuerte: #0a3871;
    --gris: #495057;
    --claro: #f3f5fc;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f5fc;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
}


.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.no-visible {
    display: none;
}



.msj-copiado h6 {
    background-color: #0a3871;
    color: white;
    text-align: center;
    margin: 0;
}

/*LOGOTIPO*/
.logo {
    width: 2rem;
    margin-top: 3rem;
}

@media (min-width: 998px) {
    .logo {
        width: 3rem;
    }
}

/** CONTENIDO PRINCIPAL **/
.main {
    margin-top: 5rem;
}

@media (min-width: 998px) {
    .main {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }
}

.textarea {
    max-width: 100%;
    width: 100%;
    width: 70rem;
    outline: none;
    color: var(--azul-fuerte);
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    padding: 2rem;
}

.textarea::placeholder {
    color: var(--azul-fuerte);
}

.informacion {
    margin: 1rem;
}


.mensaje {
    margin: 0 0 5rem 0;
    max-width: 100%;
    width: 100%;
    width: 70rem;
    outline: none;
    color: var(--azul-fuerte);
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}

@media (min-width: 998px) {
    .mensaje {
        background-image: url(./Muñeco.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 90%;
        max-height: 100%;
        height: 100vh;
        height: 50rem;
        padding: 2rem;
    }

    .mensaje-sin-img {
        background-image: none;
    }
}

.mensaje::placeholder {
    color: var(--azul-fuerte);
}

/** BOTONES ***/
.botones {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .botones {
        flex-direction: row;
    }
}

.btn-encriptar {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 2.4rem;
    color: white;
    cursor: pointer;
    padding: 1rem 3rem;
    display: block;
    width: 100%;
}

.btn-desencriptar {
    background-color: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 2.4rem;
    color: #0a3871;
    cursor: pointer;
    padding: 1rem 3rem;
    display: block;
    width: 100%;
}

.btn-copiar {
    border: 1px solid #0a3871;
    border-radius: 2.4rem;
    color: #0a3871;
    cursor: pointer;
    padding: 1rem 3rem;
    display: block;
    margin-bottom: 4rem;
    margin-top: -5rem;
}


/*FOOTER*/
.footer {
    background-color: var(--gris);
}

.footer-p {
    margin: 0;
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 5rem;
    }
}